* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f4f4f4;
  --trail-green: #7bb547;
  --trail-light-green: #aabf79;
  --trail-teal: #3b9fb5;
  --trail-grey: #687f8c;
  --trail-brown: #e8c7c5;
  --trail-black: #252525;

  --grid-a: 2;
  --grid-b: 4;
  --grid-c: 6;
  --grid-d: 8;
  --grid-e: 10;
  --grid-f: 12;
}

.ln {
  border: 1px solid #424242;
}

body {
  font-family: "Helvetica Now Display";
}

.grid-2 {
  grid-column: span var(--grid-a);
}

.grid-4 {
  grid-column: span var(--grid-b);
}

.grid-6 {
  grid-column: span var(--grid-c);
}

.grid-8 {
  grid-column: span var(--grid-d);
}

.grid-10 {
  grid-column: span var(--grid-e);
}

.grid-12 {
  grid-column: span var(--grid-f);
}

.flex {
  display: flex;
}

.flex-spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
/* ============================= */
/* =========== FONTS =========== */
/* ============================= */
/* Helvetica Now Display Regular */
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Regular.eot");
  src: local("Helvetica Now Display Regular"),
    local("HelveticaNowDisplay-Regular"),
    url("HelveticaNowDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNowDisplay-Regular.woff2") format("woff2"),
    url("HelveticaNowDisplay-Regular.woff") format("woff"),
    url("HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Helvetica Now Display Bold */
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Bold.eot");
  src: local("Helvetica Now Display Bold"), local("HelveticaNowDisplay-Bold"),
    url("HelveticaNowDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNowDisplay-Bold.woff2") format("woff2"),
    url("HelveticaNowDisplay-Bold.woff") format("woff"),
    url("HelveticaNowDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* Helvetica Now Display ExtraBold */
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-ExtraBold.eot");
  src: local("Helvetica Now Display ExtBd"),
    local("HelveticaNowDisplay-ExtraBold"),
    url("HelveticaNowDisplay-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNowDisplay-ExtraBold.woff2") format("woff2"),
    url("HelveticaNowDisplay-ExtraBold.woff") format("woff"),
    url("HelveticaNowDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* RetroKing Rough */
@font-face {
  font-family: "retrokingrough";
  src: url("retroking-rough-webfont.woff2") format("woff2"),
    url("retroking-rough-webfont.woff") format("woff"),
    url("/fonts/RetroKing/Retroking-Rough.woff") format("woff"),
    url("/fonts/RetroKing/Retroking-Rough.ttf") format("truetype"),
    url("/fonts/RetroKing/Retroking-Rough.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.map-container {
  background: url(/images/teddy-map.png);
  background-size: cover;
  width: 100vw;
  height: 81vh;
}

.back-button {
  background: url(/images/chevron-left.svg);
  background-repeat: no-repeat;
  height: 38px;
  width: 36px;
  position: absolute;
  top: 44px;
  left: 29px;
  background-image: linear-gradient(120deg, #aabf79, #7bb547);
  border-radius: 4px;
  color: #000000;
}

.brand-font {
  font-family: "retrokingrough";
  color: #000000;
  text-align: center;
  padding-top: 2rem;
  opacity: 80%;
  mix-blend-mode: overlay;
}

.container-map-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-radius: 8px 8px 0 0;
  position: absolute;
  width: 100vw;
  top: 80vh;
  background-color: #ffffff;
  padding-top: 16px;
}

.title {
  font-family: "Helvetica Now Display";
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  text-align: right;
  padding-bottom: 16px;
  padding-right: 40px;
}

.teal-text {
  color: var(--trail-teal);
  font-weight: 800;
  padding-top: 0.5rem;
}

#teddy-map {
  width: 100vw;
}

.hike-info {
  text-align: center;
  font-weight: 700;
}

.hike-data {
  text-align: center;
  border: 2px #c4c4c4 solid;
  border-left: 0;
  padding: 12px;
}

.grey-background {
  background-color: var(--background-color);
}

.duration {
  border-right: 0;
}

.grey-labels {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12.25px;
}

.left-labels {
  padding-right: 8px;
}

.align-labels {
  align-items: center;
  margin: 5px 0;
}

.small-text {
  font-size: 12px;
  padding: 20px;
}

.hike-button {
  background-image: linear-gradient(120deg, #aabf79, #7bb547);
  padding: 12px 25px;
  border-radius: 16px;
  border: 1.16px dashed rgba(0, 0, 0, 0.2);
  color: white;
}

.hike-padding {
  padding: 25px 35px;
}

/* Dashboard */
.container-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-radius: 4px;
  width: 100vw;
  background-color: #ffffff;
  padding: 8px 0 8px 12px;
}

#trail-illustration {
  height: 50vh;
}

.avatar {
  background-image: url(/images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: var(--trail-teal) solid 2px;
  width: 38px;
  height: 38px;
  position: absolute;
  align-items: center;
  top: 50px;
  left: 30px;
}

.searchLocation {
  border-radius: 50px;
  border: var(--trail-teal) solid 1px;
  width: 70vw;
  height: 30px;
  padding-left: 10px;
  margin-left: 15vw;
  position: absolute;
  top: 30vh;
}

.dash-btn-container {
  position: absolute;
  top: 40vh;
  padding-bottom: 15px;
  border-bottom: rgba(0, 0, 0, 0.3) solid 2px;
}

.dash-button {
  padding: 10px 11px 6px 11px;
  margin: 0.5rem;
  width: 169px;
  color: white;
  border: 1.16px dashed rgba(0, 0, 0, 0.2);
  border-radius: 4.34px;
  font-size: 12px;
  letter-spacing: 0.1em;
}

.btn-text {
  padding-left: 35px;
}

.list-btn {
  background-color: var(--trail-teal);
}

.trail-btn {
  background-color: var(--trail-brown);
}

.featured-hikes {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 26px;
  color: var(--trail-black);
}

.trail-card {
  margin: 0 0 16px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.card-image {
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  height: 151px;
  width: 100vw;
  border-radius: 4px 4px 0 0;
}

.pinnacle-image {
  background-image: url(/images/pinnacle.jpg);
}

.cali-image {
  background-image: url(/images/cali.png);
}

.canyon-image {
  background-image: url(/images/canyon.png);
}

.tag-underline {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.tag-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 0;
  width: 50px;
  border: 2px solid var(--trail-green);
  border-radius: 10px;
}

.hike-info {
  padding: 0 2px;
}

/* === TEDDYS LOOKOUT === */
.teddys-image {
  background: url(/images/teddys.jpg);
  background-size: cover;
  width: 100vw;
  height: 30vh;
}

.teddys-data {
  text-align: left;
  padding: 12px;
  width: 7rem;
}

/* .side-tab {
  padding: ;
} */
