* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f4f4f4;
  --trail-green: #7bb547;
  --trail-light-green: #aabf79;
  --trail-teal: #3b9fb5;
  --trail-grey: #687f8c;
  --dark-grey: #808080;
  --trail-brown: #e8c7c5;
  --trail-black: #252525;

  --grid-a: 2;
  --grid-b: 4;
  --grid-x: 5;
  --grid-c: 6;
  --grid-y: 7;
  --grid-d: 8;
  --grid-e: 10;
  --grid-f: 12;
}

.ln {
  border: 1px solid #424242;
}

body {
  font-family: "Helvetica Now Display";
}

.grid-2 {
  grid-column: span var(--grid-a);
}

.grid-4 {
  grid-column: span var(--grid-b);
}

.grid-5 {
  grid-column: span var(--grid-x);
}

.grid-6 {
  grid-column: span var(--grid-c);
}

.grid-7 {
  grid-column: span var(--grid-y);
}

.grid-8 {
  grid-column: span var(--grid-d);
}

.grid-10 {
  grid-column: span var(--grid-e);
}

.grid-12 {
  grid-column: span var(--grid-f);
}

.flex {
  display: flex;
}

.flex-spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
/* ============================= */
/* =========== FONTS =========== */
/* ============================= */
/* Helvetica Now Display Regular */
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Regular.eot");
  src: local("Helvetica Now Display Regular"),
    local("HelveticaNowDisplay-Regular"),
    url("HelveticaNowDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNowDisplay-Regular.woff2") format("woff2"),
    url("HelveticaNowDisplay-Regular.woff") format("woff"),
    url("HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Helvetica Now Display Bold */
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Bold.eot");
  src: local("Helvetica Now Display Bold"), local("HelveticaNowDisplay-Bold"),
    url("HelveticaNowDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNowDisplay-Bold.woff2") format("woff2"),
    url("HelveticaNowDisplay-Bold.woff") format("woff"),
    url("HelveticaNowDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* Helvetica Now Display ExtraBold */
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-ExtraBold.eot");
  src: local("Helvetica Now Display ExtBd"),
    local("HelveticaNowDisplay-ExtraBold"),
    url("HelveticaNowDisplay-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNowDisplay-ExtraBold.woff2") format("woff2"),
    url("HelveticaNowDisplay-ExtraBold.woff") format("woff"),
    url("HelveticaNowDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* RetroKing Rough */
@font-face {
  font-family: "retrokingrough";
  src: url("retroking-rough-webfont.woff2") format("woff2"),
    url("retroking-rough-webfont.woff") format("woff"),
    url("/fonts/RetroKing/Retroking-Rough.woff") format("woff"),
    url("/fonts/RetroKing/Retroking-Rough.ttf") format("truetype"),
    url("/fonts/RetroKing/Retroking-Rough.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.map-container {
  background: url(/images/teddy-map.png);
  background-size: cover;
  width: 100vw;
  height: 81vh;
}

.back-button {
  height: 41px;
  width: 61px;
  position: absolute;
  top: 58px;
  left: -1px;
  padding-left: 20px;
  background-color: var(--trail-teal);
  border-radius: 0 4px 4px 0;
  border: 1.16px dashed rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
}

.add-button {
  height: 41px;
  width: 61px;
  position: absolute;
  top: 58px;
  right: -1px;
  padding-right: 16px;
  padding-top: 1px;
  background-color: var(--trail-teal);
  border-radius: 4px 0 0 4px;
  border: 1.16px dashed rgba(0, 0, 0, 0.2);
  color: #000000;
}

#weather {
  height: 41px;
  width: 76px;
  position: absolute;
  top: 112px;
  right: -1px;
  padding: 0 11px;
  background-image: linear-gradient(120deg, #ebb62d, #fcff8a);
  border-radius: 4px 0 0 4px;
  border: 1.16px dashed rgba(0, 0, 0, 0.2);
  color: #000000;
  align-items: center;
}

.weather-text {
  font-size: 14px;
  font-weight: 700;
  padding-right: 5px;
}

.brand-font {
  font-family: "retrokingrough";
  color: #000000;
  text-align: center;
  padding-top: 2rem;
  opacity: 80%;
  mix-blend-mode: overlay;
}

.container-map-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-radius: 8px 8px 0 0;
  position: absolute;
  width: 100vw;
  top: 80vh;
  background-color: #ffffff;
  padding-top: 16px;
}

.title {
  font-family: "Helvetica Now Display";
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  text-align: right;
  padding-bottom: 16px;
  padding-right: 40px;
}

.title-left {
  font-family: "Helvetica Now Display";
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  text-align: left;
  padding-bottom: 16px;
  padding-left: 12px;
}

.teal-text {
  color: var(--trail-teal);
  font-weight: 800;
  padding-top: 0.5rem;
}

#teddy-map {
  width: 100vw;
}

.hike-info {
  text-align: center;
  font-weight: 700;
}

.hike-data {
  text-align: center;
  border: 2px #c4c4c4 solid;
  border-left: 0;
  padding: 12px;
}

.grey-background {
  background-color: var(--background-color);
}

.white-background {
  background-color: #ffffff;
}

.duration {
  border-right: 0;
}

.grey-labels {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 10px;
}

.left-labels {
  padding-right: 8px;
}

.align-labels {
  align-items: center;
  margin-bottom: 5px;
}

.small-text {
  font-size: 12px;
}

.description {
  padding: 12px 12px 0 0;
}

.begin {
  padding: 20px;
}

.hike-button {
  background-image: linear-gradient(120deg, #aabf79, #7bb547);
  padding: 12px 25px;
  border-radius: 16px;
  border: 1.16px dashed rgba(0, 0, 0, 0.2);
  color: white;
}

.hike-padding {
  padding: 25px 35px;
}

/* Dashboard */
#trail-illustration {
  background: url(/images/trail-talk-dash.svg);
  background-size: cover;
  width: 100vw;
  /* height: 81vh; */
}

.container-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-radius: 4px;
  width: 100vw;
  padding: 8px 0 8px 12px;
}

#trail-illustration {
  height: 320px;
  width: 100vw;
}

.phone {
  background-image: url(/images/phone.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  width: 100vw;
  height: 44px;
  position: fixed;
}

.avatar {
  background-image: url(/images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: var(--trail-teal) solid 2px;
  width: 38px;
  height: 38px;
  position: absolute;
  align-items: center;
  top: 50px;
  left: 30px;
}

.searchLocation {
  border-radius: 50px;
  border: var(--trail-teal) solid 1px;
  width: 70vw;
  height: 30px;
  padding-left: 10px;
  margin-left: 15vw;
  position: absolute;
  top: 36vh;
}

.dash-btn-container {
  padding: 15px 0;
  border-bottom: rgba(0, 0, 0, 0.3) solid 2px;
}

.dash-button {
  padding: 10px 11px 6px 11px;
  margin: 0.5rem;
  width: 169px;
  color: white;
  border: 1.16px dashed rgba(0, 0, 0, 0.2);
  border-radius: 4.34px;
  font-size: 12px;
  letter-spacing: 0.1em;
}

.btn-text {
  padding-left: 35px;
}

.list-btn {
  background-color: var(--trail-teal);
}

.trail-btn {
  background-color: var(--trail-brown);
}

.featured-hikes {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 26px;
  color: var(--trail-black);
}

.trail-card,
.hiker-card {
  margin: 0 0 16px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.card-image {
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  height: 151px;
  width: 100vw;
  border-radius: 4px 4px 0 0;
}

.teddys-card {
  text-decoration: none;
}

.pinnacle-image {
  background-image: url(/images/pinnacle.jpg);
}

.cali-image {
  background-image: url(/images/cali.png);
}

.canyon-image {
  background-image: url(/images/canyon.png);
}

.hike-title {
  font-family: "Helvetica Now Display";
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}

.hike-location {
  font-family: "Helvetica Now Display";
  font-weight: 700;
  font-size: 12px;
  color: var(--dark-grey);
  margin: 3px 10px;
}

.tag-underline {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.tag-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 0;
  width: 50px;
  border: 2px solid var(--trail-green);
  border-radius: 10px;
}

.tag-underline-red {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.tag-underline-red:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 0;
  width: 50px;
  border: 2px solid #f03d3e;
  border-radius: 10px;
}

.tag-underline-yellow {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.tag-underline-yellow:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 0;
  width: 50px;
  border: 2px solid #ffea79;
  border-radius: 10px;
}

.hike-info {
  padding: 0 2px;
}

/* === TEDDYS LOOKOUT === */
.teddys-image {
  background: url(/images/teddys.jpg);
  background-size: cover;
  width: 100vw;
  height: 262px;
}

.teddys-data {
  text-align: left;
  padding: 12px;
  width: 7rem;
}

.icon-bar {
  position: absolute;
  top: 205px;
}

.top-tab {
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: absolute;
  background-color: white;
  width: 100vw;
  padding-top: 5px;
  font-family: "Helvetica Now Display";
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 12px;
}

.sub-tab {
  color: var(--dark-grey);
  background-color: white;
  font-size: 16px;
  padding: 5px;
  border: 2px solid var(--dark-grey);
  position: absolute;
  top: 51px;
  z-index: 5;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.wrapper {
  position: relative;
}

.hike-specs {
  padding-top: 60px;
}

.hike-specs-padding {
  padding-top: 20px;
}

.comments-avatar {
  background-image: url(/images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: var(--trail-teal) solid 2px;
  width: 24px;
  height: 24px;
  align-items: center;
  margin-top: 0.5rem;
}

.black-text {
  color: #000000;
  font-weight: 800;
  padding: 0.5rem 0.4rem;
}

.teddys-btns {
  border-radius: 19px;
  padding: 12px;
  border: 1.16px dashed rgba(0, 0, 0, 0.2);
  width: 250px;
  margin-bottom: 14px;
  text-decoration: none !important;
}

.teddys-btn-text {
  color: white;
  font-size: 14px;
  padding-left: 5px;
  /* text-decoration: none !important; */
}

#directions {
  background-image: linear-gradient(120deg, #aabf79, #7bb547);
  border-radius: 19px 0 0 19px;
}

#equipment {
  background-image: linear-gradient(120deg, #4693b4, #8479ff);
  border-radius: 19px 0 0 19px;
}

.start-trail-btn {
  background-image: linear-gradient(120deg, #b44646, #ff7999);
  border-radius: 19px 0 0 19px;
  /* z-index: 12; */
}

.start-trail-btn::after {
  background: red;
  /* z-index: 11; */
  animation: pulse 1000ms infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    transform: scale(1.35);
    opacity: 0;
  }
}

.hiker-feedback {
  width: 70px;
}

.feedback {
  font-size: 14px;
  font-weight: 600;
}

.full-report {
  display: flex;
  width: 40vw;
  font-size: 14px;
  justify-content: flex-end;
}

.full-report-text {
  padding-top: 10px;
}

.small {
  font-size: 10px;
  padding-bottom: 2px;
}

.older-reports {
  text-align: center;
}
